<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--meta name="description" content=""-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register for a Study Group or Host a Study Group</title>
        <link rel="stylesheet" href="static/styles.css">
        <script src="app.js" defer></script>
        <!-- Title of our website -->
        <title>StudyBuddy@UCF</title>
    </head>
    <body>
        <!-- NavBar -->
        <div class="navbar">
            <div class="container flex">
                <h1 class="logo">StudyBuddy@UCF</h1>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html">about</a></li>
                        <li><a href="index.html">contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- ShowCase -->
        <section class="showcase">
            <div class="container grid">
                <div class="showcase-text">
                    <h1>Find Your Team</h1>
                    <p>Connect with like minded students at UCF! Answer a couple of questions and you'll be put with a team right for you. Start studying with a team now!</p>
                </div>
                <div class="showcase-form card">
                    <h2>Join a Team!</h2>
                    <form action="/submit" method="POST">
                        <div class="form-control">
                            <p>Discord Name:
                                <br />
                                <input type="text" id="discord-name" name="discord-name" placeholder="JohnDoe#1111" required>
                            </p>
                        </div>

                        <div class="form-control">
                            <p>Would you like to Host a team?
                                <br />
                                <input type="radio" id="host-yes" name="host" value="Yes" > Yes
                                <input type="radio" id="host-no"name="host" value="No" checked="checked" > No
                            </p>
                        </div>
                        
                            <!--These are the Course input form -->
                        <div class="form-control">
                            <p>Select what courses you're in!
                                <br />
                                <input type="checkbox" id="COP2500" name="courses" value="COP2500" > COP2500
                                <br />
                                <input type="checkbox" id="COP3223C" name="courses" value="COP3223C" > COP3223C
                                <br />
                                <input type="checkbox" id="CDA3103" name="courses" value="CDA3103" > CDA3103
                                <br />
                                <input type="checkbox" id="COP3502C" name="courses" value="COP3502C" > COP3502C
                                <br />
                                <input type="checkbox" id="COP3503C" name="courses" value="COP3503C" > COP3503C
                                <br />
                                <input type="checkbox" id="COP3330" name="courses" value="COP3330" > COP3330
                                <br />
                                <input type="checkbox" id="COP3402" name="courses" value="COP3402" > COP3402
                                <br />
                                <input type="checkbox" id="Foundation Exam" name="courses" value="Foundation Exam" > Foundation Exam
                                <br />
                                <input type="checkbox" id="COP4331C" name="courses" value="COP4331C" > COP4331C
                                <br />
                                <input type="checkbox" id="COT3100" name="courses" value="COT3100" > COT3100
                                <br />
                                <input type="checkbox" id="CIS3360" name="courses" value="CIS3360" > CIS3360
                            </p>
                        </div>
                        <input type="submit" value="send" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>